.header {
  background-image: url(../images/home-1-opening-hours-background.jpg);
  background-position: center center;
  background-size: contain;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  gap: 25px;
  z-index: 999;
  .stickyNav {
    position: fixed;
    padding: 5px 0;
    background-image: url(../images/home-1-opening-hours-background.jpg);
    height: fit-content;
    left: 0;
    top: -60px;
    width: 100%;
    transition: all 0.3s ease;
    svg {
      font-size: 21px;
      color: #fff;
      cursor: pointer;
    }
    &.active {
      top: 0;
    }
    &.activeSidebar {
      left: -300px;
    }
  }
  .upperSection {
    .container {
      .row {
        display: flex;
        justify-content: space-between;
        position: relative;

        .reservations {
          display: flex;
          gap: 20px;
          font-size: 11px;
          color: #fff;
          font-weight: 300;
          letter-spacing: 1px;
          p {
            text-transform: uppercase;
            a {
              color: #fff;
            }
            &:nth-of-type(2) {
              a {
                margin-right: 5px;
              }
            }
          }
          .sidebarMenu {
            font-size: 14px;
            cursor: pointer;
          }
        }
        &::after {
          content: "";
          position: absolute;
          background-image: url(../images/header-top-border.png);
          bottom: -5px;
          left: 0;
          width: 100%;
          height: 2px;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .header {
    padding-bottom: 0px;
    .stickyNav {
      display: none;
    }
  }
}

@media (max-width: 600px) {
  .header {
    .upperSection {
      .container {
        .row {
          flex-direction: column;
          align-items: center;
          gap: 20px;
        }
      }
    }
  }
}
