.header {
  background-image: url(../images/home-1-opening-hours-background.jpg);
  background-position: center center;
  background-size: contain;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  gap: 15px;
  .stickyNav {
    position: fixed;
    padding: 5px 0;
    background-image: url(../images/home-1-opening-hours-background.jpg);
    height: fit-content;
    left: 0;
    top: -50px;
    width: 100%;
    transition: all 0.3s ease;
    svg {
      font-size: 21px;
      color: #fff;
      cursor: pointer;
    }
    &.active {
      top: 0;
    }
  }
  .upperSection {
    .container {
      .row {
        display: flex;
        justify-content: space-between;
        position: relative;
        .socialMedia {
          display: flex;
          gap: 15px;
          align-items: center;
          p {
            font-size: 11px;
            letter-spacing: 1px;
            color: #fff;
            text-transform: uppercase;
          }
          .socialLinks {
            display: flex;
            gap: 10px;
            li {
              svg {
                font-size: 14px;
                color: #fff;
              }
            }
          }
        }
        .reservations {
          display: flex;
          gap: 20px;
          font-size: 11px;
          color: #fff;
          font-weight: 300;
          letter-spacing: 1px;
          p {
            text-transform: uppercase;
            a {
              color: #fff;
            }
            &:nth-of-type(2) {
              a {
                margin-right: 5px;
              }
            }
          }
        }
        &::after {
          content: "";
          position: absolute;
          background-image: url(../images/header-top-border.png);
          bottom: -5px;
          left: 0;
          width: 100%;
          height: 2px;
        }
      }
    }
  }
  .lowerSection {
    .container {
      .row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 40px;
        .logo {
          img {
            width: 120px;
          }
        }
        .navbar {
          flex-grow: 1;
          max-width: 671px;
          .navList {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            gap: 10px;
            svg {
              margin-top: 2px;
              color: #fff;
              font-size: 9px;
              color: #9b9b9b;
            }
            .navItem {
              a {
                color: #fff;
                position: relative;
                font-size: 15px;
              }
            }
          }
        }
        .rightSection {
          display: flex;
          gap: 10px;
          align-items: center;
          form {
            input {
              width: 133px;
              padding: 0 11px;
              border: 1px solid #efefef;
              line-height: 34px;
              border: none;
              outline: none;
              color: $blackClr;
              font-size: 11px;
            }
            button {
              font-size: 11px;
              outline: none;
              border: none;
              padding: 0 11px;
              line-height: 34px;
              cursor: pointer;
              background-color: $yellowClr;
            }
          }
          .cart {
            color: #fff;
            p {
              display: flex;
              align-items: center;
              gap: 5px;
              position: relative;
              .cartCount {
                position: absolute;
                top: -7px;
                right: -13px;
                font-size: 10px;
                width: 17px;
                height: 17px;
                font-family: "Oswald", serif;
                background-color: $yellowClr;
                border-radius: 50%;
                color: $blackClr;
                line-height: 17px;
                text-align: center;
              }
            }
          }
        }
      }
    }
  }
}
