.lowerSection {
  .container {
    .row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 40px;
      .mobileMenuToggle {
        display: none;
      }
      .logo {
        img {
          width: 120px;
        }
      }
      .navbar {
        flex-grow: 1;
        max-width: 671px;
        .navList {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          gap: 10px;
          svg {
            margin-top: 2px;
            color: #fff;
            font-size: 9px;
            color: #9b9b9b;
          }
          .navItem {
            a {
              color: #fff;
              position: relative;
              font-size: 15px;
              transition: all 0.3s ease;
              &:hover {
                color: $yellowClr;
              }
            }
          }
        }
      }
      .rightSection {
        display: flex;
        gap: 10px;
        align-items: center;
        form {
          input {
            width: 133px;
            padding: 0 11px;
            border: 1px solid #efefef;
            line-height: 34px;
            border: none;
            outline: none;
            color: $blackClr;
            font-size: 11px;
          }
          button {
            font-size: 11px;
            outline: none;
            border: none;
            padding: 0 11px;
            line-height: 34px;
            cursor: pointer;
            background-color: $yellowClr;
          }
        }
        .cart {
          color: #fff;
          position: relative;
          p {
            display: flex;
            align-items: center;
            gap: 5px;
            position: relative;
            .cartCount {
              position: absolute;
              top: -7px;
              right: -13px;
              font-size: 10px;
              width: 17px;
              height: 17px;
              font-family: "Oswald", serif;
              background-color: $yellowClr;
              border-radius: 50%;
              color: $blackClr;
              line-height: 17px;
              text-align: center;
            }
          }
          &:hover {
            .cartInfoPopUp {
              visibility: visible;
              opacity: 1;
            }
          }
          .cartInfoPopUp {
            transition: all 0.3s ease;
            position: absolute;
            visibility: hidden;
            opacity: 0;
            right: 0;
            bottom: -70px;
            width: max-content;
            background-color: $blackClr;
            padding: 20px;
            font-size: 13px;
          }
        }
      }
    }
  }
}

.default {
  .lowerSection {
    .container {
      .row {
        .navbar {
          .navList {
            .navItem {
              a {
                color: $blackClr;
                &:hover {
                  color: $grayClr;
                }
              }
            }
          }
        }
        .rightSection {
          form {
            input {
              border: 1px solid #efefef;
            }
          }
          .cart {
            color: $grayClr;
            cursor: pointer;
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .lowerSection {
    display: none;
  }
}
